@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Level Up Your Smash Bros Game!</h1>
    <p>Ready to stop going 0-2 in bracket? Let's change that.'</p>
</div>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fnAzmoTQ-9E?si=PSAy19RtNpS50nU7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>In this matchup, Babe plays as Pokemon Trainer. This video comes from a Southern Utah regional tournament, where Abe placed 2nd. Babe wins, beating his foe 2-0 in the matchup. From here, he progressed into Winners Semis at this tournament. Please enjoy this crisp gameplay.</p>
</div>

<div class="d-flex justify-content-around">
    <div class="image-container">
        <img src="~/img/dkgroup.jpg" alt="DK Group" class="auto-fit-image">
    </div>
    <h1>Play Super Smash Bros isn't just a hobby for Abe; It's a lifestyle. I'm here to take your casual smash bros game to a competitive one. Become the underdog.</h1>
    <br />
</div>
<div class="image-container">
    <img src="~/img/gamerwithrizz.jpg" alt="Gamer With Rizz" class="auto-fit-image">
</div>
<div class="text-center">
    <p>Max Kellerman, when speaking about my gameplay, has paraphrased: "Of everyone [in the Junior Core], [1v1], the fate of the universe on the line, the Martians have the death beam pointed at earth, you better hit it, I WANT [LAMOREAUX]." Now, I know you may be skeptical of this endorsement, and I understand why. I promise that if you take a chance on me, you will be satisfied with your improvement.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pduLtJxbl9A?si=3LxwPOFImMZKG-u0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uMsjjLkzM4g?si=K-55LsviVOlvqMSx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
